*{
    margin: 0;
    padding: 0;
}

/*import fonts*/
@font-face {
    font-family: font-general;
    src: url(FONTS/Menlo-Regular.ttf);
}
@font-face {
    font-family: font-titulos;
    src: url(FONTS/Mosherif_High.ttf);
}
/*end import fonts*/

html {
    scroll-behavior: smooth;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-family: font-general;*/
    font-family: "Helvetica";
}
/*nav*/
.contenedor-nav {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: fixed;

}
.contenedor-nav__logo {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*border: 1px solid red;*/
    width: 100%;
}
.contenedor-nav__logo > img {
    /*border: 1px solid red;*/
    /*width: 240px;
    height: 240px;*/
    width: 140px;
    height: 140px;
    

}
.contenedor-nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    width: 100%;
}
.contenedor-nav__links > a {
    /*border: 1px solid red;*/
    padding: 20px;
    text-decoration: none;
    font-family: "Helvetica";
    color: black;

}
/*end nav*/

/*nav movil*/
.nav-resposive {
    background: white;
    height: 80px;
    color: white;
    display: none;
}
.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    
}
.nav__logo  {
    width: 70px;
    height: 70px;
}
.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    /*border: 1px solid red;*/
    height: 100vh;
}
.nav__item {
    color: black;
    text-decoration: none;
}
.nav__input:checked + .nav__menu {
    /*background: tomato;*/
    background: rgba(219 181 106 / 100%);;
}
.nav__label , .nav__input {
    display: none;
    
}
/*end nav movil*/

/*header*/
.contenedor-header {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 100vh;*/
    /*padding-top: 246px;*/
    height: calc(100vh + 246px);
    
    
}
.contenedor-header-text {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid red;*/

}
.contenedor-textos {
    /*border: 1px solid red;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
.contenedor-header > .contenedor-header-text > .contenedor-textos > h1 {
    /*border: 1px solid red;*/
    font-family: font-titulos;
    font-size: 80px;
    line-height: 1.5; /*espacio entre salto de linea*/
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 25px;
}
.contenedor-header > .contenedor-header-text > .contenedor-textos > p {
    /*font-family: font-general;*/
    font-family: "Helvetica";
    line-height: 1.5;
    margin-bottom: 25px;
}
.contenedor-textos > a {
    /*border: 1px solid red;*/
    background: rgba(219 181 106 / 100%);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    /*font-family: font-general;*/
    font-family: "Helvetica";
    font-weight: 900;
}
.contenedor-header-img > img {
    width: 100%;
}
.contenedor-header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    width: 100%;
}
.contenedor-header-img > form {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    width: 100%;
    
}
.contenedor-header-img > form > input {
    border-radius: 5px;
    padding: 20px;
    width: 91.5%;
    margin: 0px 0px 30px 0px;
    border: 1px solid grey;
    /*font-family: font-general;*/
    font-family: "Helvetica";
        
}
.contenedor-header-img > form > input[type="submit"] {
    width: 100%;
    background: rgba(219 181 106 / 100%);
    border: none;
    /*font-family: font-general;*/
    font-family: "Helvetica";
    font-weight: 900;
    font-size: 16px;

}
/*end header*/

/*servicios*/
.contenedor-servicios {
    /*border: 1px solid red;*/
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(219 181 106 / 100%);
}
.contenedor-servicios-titulo {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 40px 10px 0px; 
}
.contenedor-servicios-titulo > h2 {
    /*font-family: font-titulos;*/
    font-family: "Helvetica";
    letter-spacing: 10px;
    /*font-size: 60px;*/
    font-size: 29px;
    font-weight: 100;
}
.contenedor-servicios-targetas {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    
}
.contenedor-servicios-targetas > .contenedor-servicios-targetas-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    /*border: 1px solid red;*/
    height: 500px;
    
}
.contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > img {
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 50%;
    margin-bottom: 50px;
    height: 182px;
    object-fit: cover;
    max-width: 182px;
    max-height: 182px;

}
.contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > h2 {
    /*border: 1px solid red;*/
    margin-bottom: 50px;
    /*height: 150px;*/
    height: 100px;
    /*font-size: 24px;*/
    
}
.contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > .vermas {
    border: 5px solid rgba(219 181 106 / 100%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > .vermas > a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    color: black;
}
/*end servicios*/

/*portafolio*/
.contenedor-portafolio {
    
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0 0 0 / 100%);
    margin-left: auto;
    margin-bottom: 100px;
}
.contenedor-portafolio > .contenedor-portafolio-titulo {
    color: white;
    padding: 10px 0px 10px 40px;

}
.contenedor-portafolio > .contenedor-portafolio-titulo > h1 {
    /*font-family: font-titulos;*/
    font-family: "Helvetica";
    letter-spacing: 10px;
    /*font-size: 60px;*/
    font-weight: 100;
    
    
}
.contenedor-img-equipo {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedor-img-equipo > .contenedor-img-equipo-cirulos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 1px solid red;*/
    margin: 100px 50px 0px 0px;
}
.contenedor-img-equipo > .contenedor-img-equipo-cirulos > img {
    /*border: 1px solid red;*/
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    z-index: -1;
    
}
.contenedor-img-equipo > .contenedor-img-equipo-cirulos > p {
    font-weight: 800;
    margin: 5px 0px;
}
.contenedor-img-equipo > .contenedor-img-equipo-cirulos > p:nth-child(3) {
    font-weight: 400;
}
.contenedor-img-equipo > .contenedor-img-equipo-cirulos > a {
    text-decoration: none;
    color: black;
    font-weight:bolder;
    font-family: 'Dancing Script';
    font-size: 25px;
    margin: 10px 0px 0px 0px;
    
}

/*end portafolio*/

/*portafolio galeria*/
.contenedor-portafolio-galeria { 
    display: flex;
    /*border: 1px solid red;*/
    
}
.grid-galeria {
    flex: 25%;/*esto es para repartir el spacio del grid en este caso en 4 columnas*/
    padding: 5px;
}
.grid-galeria > img {
    width: 100%;
}
.grid-galeria > h3 {
    margin: 15px 0px; 
    font-weight: 100;  
}
.grid-galeria > h3 > span {
    font-size: 16px;
    color: grey;
    
}

/*end portafolio galeria*/

/*banner slogan*/
.contenedor-banner-slogan {
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/
    background: url('photo-of-happy-young-caucasian-business-woman-wearing-glasses-standing-over-beige-wall.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: 100px;
    
    
    
}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner {
    background: rgba(0 0 0 / 70%);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;

}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .text {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 70px;

}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .text > p {
    text-align: center;
}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form {
    /*border: 1px solid red;*/
    width: 100%;

}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form > form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form > form > input {
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px;
}
.contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form > form > input[type="submit"] {
    width: 97%;
    border: none;
    background: rgba(219 181 106 / 100%);
}
/*banner slogan*/

/*footer*/
.contenedor-footer {
    /*background: rgb(46, 46, 46);*/
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.contenedor-footer__logo > img {
    width: 240px;
    height: 240px;
}
.contenedor-footer__map {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedor-footer__map > a {
    margin-left: 20px;
    color: grey;
    text-decoration: none;
    font-size: 10px;
}
.contenedor-footer__redes-contac {
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-footer__redes-contac > a > img {
    width: 100%;
}
/*end footer*/

/*modal*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #34A855;
	
}

.close {
  padding: 0;
	color:black;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
  background:none;
	font-weight: bold;
}

.close:hover { 
color: #EA4436;
}
/*end modal*/

/*media querys*/
@media all and (max-width: 700px) {
    .contenedor-nav {
        display: none;
    }
    /*nav responsive*/
        .nav-resposive {
            background: white;
            height: 80px;
            color: white;
            display: block;
            position: fixed;
            width: 100%;
            margin-top: 0px;
            
        }   
        .nav__container {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }     
        .nav__menu {
            position: fixed;
            top: 80px;
            bottom: 0;
            /*background: #f08080;*/
            background: rgba(219 181 106 / 100%);;
            width: 100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
        }
        .nav__input:checked + .nav__menu {
            clip-path: circle(100% at center);
        }
        .nav__label {
            display: block;
            cursor: pointer;
        }
    /*nav responsive*/
    
    /*servicios*/
    .contenedor-servicios-targetas > .contenedor-servicios-targetas-1 {
        padding: 0px;
    }
    .contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > img {
        max-width: 92px;
        max-height: 92px;
        width: 100%;
        
    
    }
    /*end servicios*/
}
@media all and (max-width: 360px) {
    .contenedor-nav {
        display: none;
    }
    /*nav responsive*/
        .nav-resposive {
            background: white;
            height: 80px;
            color: white;
            display: block;
            position: fixed;
            width: 100%;
            margin-top: -80px;
        }        
        .nav__menu {
            position: fixed;
            top: 80px;
            bottom: 0;
            /*background: #f08080;*/
            background: rgba(219 181 106 / 100%);;
            width: 100%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
        }
        .nav__input:checked + .nav__menu  {
            clip-path: circle(100% at center);
        }
        .nav__label {
            display: block;
            cursor: pointer;
        }
    /*nav responsive*/
    
    /*header*/
    .contenedor-header {
        flex-direction: column;
        height: auto;
        margin-top: 80px;
        
    }
    .contenedor-textos {
        align-items: center;
        
        
    }
    .contenedor-header > .contenedor-header-text > .contenedor-textos > h1 {
        font-size: 40px;
        margin-left: 25px;
    }
    .contenedor-header > .contenedor-header-text > .contenedor-textos > p {
        margin-bottom: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }
    /*end header*/

    /*servicios*/    
    .contenedor-servicios {
        width: 100%;
    }
    .contenedor-servicios-targetas {
        flex-direction: column;
    }
    .contenedor-servicios-targetas > .contenedor-servicios-targetas-1 {
        padding: 0px;
    }
    .contenedor-servicios-targetas > .contenedor-servicios-targetas-1 > img {
        max-width: 182px;
        max-height: 182px;
        width: 100%;
    
    }
    /*end serivicios*/

    /*portafolio*/
    .contenedor-portafolio {
        width: 100%;
    }
    .contenedor-portafolio > .contenedor-portafolio-titulo {
        color: white;
        padding: 10px 10px 10px 10px;
    
    }
    .contenedor-portafolio > .contenedor-portafolio-titulo > h1 {
        /*border: 1px solid red;*/
        font-size: 29px;
        
    }
    .contenedor-portafolio-galeria {
        flex-direction: column;
    }
    .grid-galeria {
        padding: 0px;
    }
    /*end portafolio*/

    /*banner slogan*/
    .contenedor-banner-slogan > .contenedor-banner-slogan-subbanner {
        flex-direction:column-reverse;
        padding: 50px 0px;
    
    }
    .contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form > form > input {
        width: 80%;        
        margin: 20px 0px;
    }
    .contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .form > form > input[type="submit"] {
        width: 90%;
        border: none;
        background: rgba(219 181 106 / 100%);
    }
    .contenedor-banner-slogan > .contenedor-banner-slogan-subbanner > .text > p {
        font-size: 50px;
    
    }
    /*end banner slogan*/
}
/*end media querys*/

